<template>
  <q-page padding>
    <q-card>

      <q-card-section>
        <apexchart
          ref="realtimeChart"
          type=line
          height=600
          :options="chartOptions"
          :series="series"
        />
      </q-card-section>

      <q-separator dark />

      <q-card-actions class="q-gutter-md">
        <q-input
          dense
          :disable="power"
          v-model.number="x"
          type="number"
          filled
          hint="X"
        />
        <q-btn :disable="power" @click="setX(x)">Set X</q-btn>
        <q-input
          dense
          :disable="!power"
          v-model.number="y"
          type="number"
          filled
          hint="Y"
        />
        <q-btn :disable="!power" @click="setY(y)">Set Y</q-btn>
        <q-toggle
          v-model="power"
          label="Object"
          @input="switchPower"
        />
        <q-toggle
          v-model="controllerMode"
          label="Controller mode (on - pi/ off - poly)"
          @input="switchController"
        />
        <q-btn @click="resetToInit">Reset</q-btn>
      </q-card-actions>
    </q-card>
  </q-page>
</template>

<script>
import VueApexCharts from 'vue-apexcharts'

import { getY, getX, setX, setY, resetToInit, powerOn, powerOff, getObjectState, switchController, getControllerState } from 'src/api'
export default {
  // name: 'PageName',
  components: {
    apexchart: VueApexCharts
  },
  fetchFrequencyMs: 500,
  startX: 0,
  startY: 0,
  data () {
    return {
      xValues: [],
      lastDate: 0,
      power: false,
      controllerMode: true,
      x: this.$options.startX,
      y: this.$options.startY,
      fetchFrequencyMs: this.$options.fetchFrequencyMs,
      fetchXIntervalId: null,
      fetchYIntervalId: null,

      series: [{
        data: []
      }],
      chartOptions: {
        chart: {
          animations: {
            enabled: true,
            easing: 'linear',
            dynamicAnimation: {
              speed: this.$options.fetchFrequencyMs
            }
          },
          toolbar: {
            show: false
          },
          zoom: {
            enabled: false
          }
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'smooth'
        },

        title: {
          text: 'Dynamic Updating Chart',
          align: 'left'
        },
        markers: {
          size: 0
        },
        xaxis: {
          type: 'datetime',
          range: 60000
        },
        tooltip: {
          x: {
            format: 'hh:mm:ss:fff'
          }
        },
        yaxis: {
          max: 60,
          min: -10
        },
        legend: {
          show: false
        }
      }
    }
  },
  computed: {
  },
  methods: {
    async setX (x) {
      try {
        await setX(x)
      } catch (error) {
        console.error(error)
      }
    },
    async switchController (controllerMode) {
      try {
        await switchController(controllerMode)
      } catch (error) {
        console.error(error)
      }
    },
    async setY (y) {
      try {
        await setY(y)
      } catch (error) {
        console.error(error)
      }
    },
    async resetToInit (x) {
      try {
        await resetToInit(x)
      } catch (error) {
        console.error(error)
      }
    },
    async getY (x) {
      try {
        return await getY(x)
      } catch (error) {
        console.error(error)
      }
      return null
    },
    intervals () {
      this.fetchYIntervalId = window.setInterval(async () => {
        await this.getNewSeries(this.lastDate)

        this.$refs.realtimeChart.updateSeries([{
          data: this.xValues
        }])
      }, this.fetchFrequencyMs)
    },
    async getNewSeries (baseval) {
      var newDate = baseval + this.fetchFrequencyMs
      this.lastDate = newDate
      this.xValues.push({
        x: newDate,
        y: await this.getY()
      })
    },
    getDayWiseTimeSeries (baseval, count, yrange) {
      var i = 0
      while (i < count) {
        var x = baseval
        var y = 0

        this.xValues.push({
          x,
          y
        })
        this.lastDate = baseval
        baseval += this.fetchFrequencyMs
        i++
      }
    },
    resetData () {
      this.xValues = this.xValues.slice(this.xValues.length - 10, this.xValues.length)
    },
    async switchPower (value) {
      if (value) {
        await powerOn()

        this.fetchXIntervalId = window.setInterval(async () => {
          this.x = await getX()
        }, this.fetchFrequencyMs)
      } else {
        await powerOff()
        window.clearInterval(this.fetchXIntervalId)
      }
    }
  },
  mounted: async function () {
    this.getDayWiseTimeSeries(new Date().getTime(), 10, {
      min: 10,
      max: 90
    })
    this.power = await getObjectState()
    this.controllerMode = await getControllerState()
    // every 60 seconds, we reset the data to prevent memory leaks
    // window.setInterval(() => {
    //   this.resetData()
    // }, 10000)
    // this.resetLocal()
    // window.setInterval(() => {
    //   this.nextStep()
    // }, 500)

    this.intervals()
  }
}
</script>
